@model Samachar.Domain.ViewModels.CategoryViewModel
@{ ViewBag.Title = "Category";
    int i = 0; }
<div class="card">
    <div class="card-header">
        Category List
        <a type="button" href="~/category/add" class="btn btn-sm btn-primary float-right">Add Category</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="tblCategory">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Name</th>
                    <th>Sequence</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories.Any())
                {
                    @foreach (var category in Model.Categories)
                    {
                        <tr class="gradeU">
                            <td>@((Model.Rows * (Model.Page - 1)) + (++i))</td>
                            <td><img src="~/@category.ImageUrl" alt="@category.Name" class="img img-rounded" height="50" width="50" /><span class="">&nbsp;&nbsp;@category.Name</span></td>
                            <td>@category.Sequence</td>
                            <td class="center">@(category.IsActive ? "Active" : "Inactive")</td>
                            <td class="center"><a href="Category/Update/@category.Id" class="fGroup-edi" id="@category.Id">Edit</a> | <a href="javascript:void(0);" class="fGroup-del" id="@category.Id" onclick="javascript:xyx(@category.Id)">Delete</a></td>
                        </tr>
                    }

                }
                else
                {
                    <tr><td colspan="5"><p>There are no any records.</p></td></tr>
                }
            </tbody>
        </table>
        <div id="demo" class="pagination" data-pagination=""></div>
    </div>
</div>
@section BreadCrum{
    <li class="breadcrumb-item active">Category</li>
}
@section Stylesheets{
    <link rel="stylesheet" type="text/css" href="~/lib/simplePagination/simplePagination.css" />
}
@section Scripts{
    <script type="text/javascript" src="~/lib/simplePagination/jquery.simplePagination.js"></script>
    <script type="text/javascript">
        var xyx;
        $(function () {
            $("#demo").pagination({
                items: @Model.TotalRows,
                itemsOnPage: @Model.Rows,
                cssStyle: 'light-theme',
                selectOnClick: false,
                currentPage: @Model.Page,
                hrefTextPrefix: '/category?page=',
                hrefTextSuffix: '&rows=',
            });
            xyx = function (id) {
                if (confirm('Do you really want to delete this Category?')) {
                    $.ajax({
                        url: '/category/delete/' + id,
                        success: function () {
                            window.location.reload(false);
                        }
                    });
                } else { return; }
            };
        });
    </script>
}
