@section BreadCrum{
    <li class="breadcrumb-item active">Article</li>
}
@model ICollection<Samachar.Domain.Article>
@{ ViewBag.Title = "Article";
    int i = 0; }
<div class="card">
    <div class="card-header">
        Article List
        <a type="button" href="~/article/add" class="btn btn-sm btn-primary float-right">Add Article</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="tblArticle">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Title</th>
                    <th>Publish Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var article in Model)
                    {
                        <tr class="gradeU">
                            <td>@(++i)</td>
                            <td><span class="">&nbsp;&nbsp;@article.Title</span></td>
                            <td>@article.PublishOn</td>
                            <td class="center">@(article.IsActive ? "Active" : "Inactive")</td>
                            <td class="center"><a href="/Article/Get/@article.Id" class="fGroup-edi" id="@article.Id">Edit</a> | <a href="javascript:void(0);" class="fGroup-del" id="@article.Id">Delete</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6"><p>There are no any records.</p></td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
